<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/19c2258d-b337-4245-800e-8b50cf9f8792/resourcegroups/toddmiller.nyc/providers/Microsoft.Web/sites/capnskull</ResourceId>
    <ResourceGroup>toddmiller.nyc</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://capnskull.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>capnskull.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>capnskull</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$capnskull</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:pxgdbserver.database.windows.net,1433;Initial Catalog=capnskull_db;User ID=crazytodde@pxgdbserver;Password=!!QQzzRR01" Name="Data Source=tcp:pxgdbserver.database.windows.net,1433;Initial Catalog=capnskull_db;User Id=crazytodde@pxgdbserver;Password=!!QQzzRR01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CapnSkull.Models.ApplicationDbContext, CapnSkull" MigrationConfiguration="CapnSkull.Migrations.Configuration, CapnSkull" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pxgdbserver.database.windows.net,1433;Initial Catalog=capnskull_db;User Id=crazytodde@pxgdbserver;Password=!!QQzzRR01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pxgdbserver.database.windows.net,1433;Initial Catalog=capnskull_db;User Id=crazytodde@pxgdbserver;Password=adamec01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>